@media (max-width: 1399px){

}
@media (max-width: 1199px){
    .header-banner {
        /* background-size: 45%; */
    }
    .header-content h1 {
        font-size: 40px;
    }
    .global {
        padding-bottom: 80px;
        padding-top: 10px;
    }
    .global h2 {
        font-size: 29px;
    }
    .support h3 {
        font-size: 21px;
    }
    .support p {
        font-size: 14px !important;
    }
    .trusted h2 {
        font-size: 28px;
    }
    .trusted {
        padding: 100px 0;
    }
    .prices {
        padding: 100px 0;
    }
    .numbers {
        padding: 100px 0;
    }
    .numbers h2 {
        font-size: 25px;
    }
    .numbers p {
        font-size: 15px;
    }
    .numbers h3 {
        font-size: 17px;
    }
    .numbers h1 {
        font-size: 34px;
    }
    .numbers .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
    .card {
        width: 18rem;
    }
    .subscribe .btn {
    margin-bottom: 30px;
    }
    
}
@media (max-width: 991px){
    .header-banner {
        /* background-size: 450px; */
    }
    .header-content h1 {
        font-size: 28px;
        font-weight: 700;
    }
    .header-content p {
        font-size: 11px;
        margin: 30px 0;
    }
    .header-content .btn {
        margin-right: 10px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    .header-content .cap {
        padding: 12px 25px;
    }
    .header-content .btn i {
        font-size: 22px;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .brand {
        padding: 50px 0;
    }
    .global h2 {
        font-size: 24px;
    }
    .trusted h2 {
        font-size: 20px;
        font-weight: 700;
    }
    .trusted p {
        font-size: 14px;
    }
    .trusted a {
        font-size: 14px;
    }
    .faqs h2 {
        font-size: 21px;
        width: 100%;
    }
    .faqs a {
        font-size: 15px;
    }
    .features-heading h2 {
        font-size: 31px;
    }
    .features-heading p {
        font-size: 14px;
    }
    .feature-box h3 {
        font-size: 22px;
    }
    .solution {
        padding: 80px 0 5px 0;
    }
    .numbers h2 {
        font-size: 18px;
    }
    .numbers p {
        font-size: 14px;
    }
    .numbers .downloads{
        margin-right: 10px;
    }
    .numbers .btn {
        margin-right: 20px;
        font-size: 13px;
    }
    .card {
        width: 100%;
    }
    .card-body h5 {
        font-size: 22px;
    }
    .card-body h4 {
        font-size: 55px;
    }
    .card-body p {
        font-size: 18px;
    }
    .subscribe {
        padding: 70px 0;
    }
    .subscribe .btn {
        padding: 10px 40px;
        margin-bottom: 28px;
    }
    .subscribe h2 {
        font-size: 24px;
    }
    .subscribe p {
        font-size: 13px;
    }
    .footer-content {
        padding: 80px 0 20px 0;
    }
    .footer-content h3 {
        font-size: 14px;
    }
    .footer-content a {
        font-size: 11px;
    }
    .footer-bottom p {
        font-size: 12px;
    }
    
}
@media (max-width: 767px){
    .header-content {
        padding: 30px 0;
        text-align: center;
    }
    .header-banner {
        background: url();
    }
    .header-content h1 {
        font-size: 40px;
        font-weight: 700;
    }
    .header-content p {
        font-size: 16px;
    }
    .brand img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .global {
        text-align: center;
        padding-bottom: 60px;
    }
    .global h2 {
        font-size: 25px;
    }
    .trusted {
        background-image: url();
        text-align: center;
        padding: 50px 0;
    }
    .trusted h2 {
        font-size: 30px;
    }
    .faqs {
        padding: 70px 0;
    }
    .faqs h2 {
        font-size: 25px;
    }
    .features {
        text-align: center;
        padding: 70px 0;
    }
    .features-heading h2 {
        font-size: 30px;
        font-weight: 700;
    }
    .feature-box h3 {
        font-size: 20px;
    }
    .feature-box p {
        font-size: 14px !important;
    }
    .features-heading p {
        width: 75%;
    }
    .numbers{
        background-image: url();
        padding: 70px 0px;
        text-align: center;
    }
    .numbers h2 {
        font-size: 25px;
    }
    .numbers p {
        font-size: 15px;
    }
    .prices {
        text-align: center;
        padding: 70px 0px;
    }
    .card {
        width: 100%;
    }
    .subscribe h2 {
        font-size: 25px;
    }
    .footer-content h3 {
        font-size: 16px;
    }
    .footer-content a {
        font-size: 13px;
    }
}
@media (max-width: 575px){
    .header-content {
        padding: 30px 0;
        text-align: center;
    }
    .header-content h1 {
        font-size: 36px;
        font-weight: 700;
    }
    .header-content p {
        font-size: 14px;
    }
    .header-content .btn {
        margin-right: inherit;
        margin-bottom: 20px;
    }
    .brand img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .global h2 {
        font-size: 24px;
    }
    .global p {
        font-size: 14px;
    }
    .global .col-lg-6 a {
        font-size: 14px;
    }
    .trusted {
        text-align: center;
    }
    .trusted h2 {
        font-size: 24px;
        font-weight: 700;
    }
    .trusted p {
        font-size: 14px;
    }
    .trusted a {
        font-size: 14px;
    }
    .faqs p {
        font-size: 24px;
        width: 100%;
    }
    .faqs a {
        font-size: 14px;
    }
    .features-heading h2 {
        font-size: 30px;
    }
    .features-heading p {
        width: 100%;
        font-size: 14px;
    }
    .feature-box h3 {
        font-size: 18px;
    }
    .numbers h2 {
        font-size: 24px;
    }
    .card-body a {
        padding: 10px 20px;
    }
    .footer-content h3 {
        font-size: 20px;
    }.footer-content a {
        font-size: 14px;
    }
    .footer-bottom{
        text-align: center;
    }
}
@media (max-width: 321px){
    .trusted h2 {
        font-size: 30px;
    }
    .numbers h2 {
        font-size: 30px;
    }
    .numbers .downloads {
        border-right: inherit;
    }
}
